<div class="offers">
  <ng-container *ngFor="let offer of offers; let i = index">
    <app-trade-offer 
    (evIgnoreOffer)="ignoreOffer(offer)" 
    (evTradeRequest)="sendTradeRequest(offer)"
    (evTradeAccepted)="removeAcceptedTradeOffer()"
    (evTradeCancelled)="resetOfferTrades()"
    (evPartyInvite)="sendPartyInvite(offer)"
    (evPartyKick)="kickBuyer(offer.buyerName)"
    (evRemoveOffer)="removeOffer(offer)"
    (evStillInterestedWhisper)="sendStillInterestedWhisper(offer)"
    (evBusyWhisper)="sendBusyWhisper(offer)"
    (evSoldWhisper)="sendSoldWhisper(offer)"
    [offer]="offer" 
    *ngIf="i < 8"></app-trade-offer>
  </ng-container>
</div>

<div class="grid" *ngIf="showGrid" >
  <app-trade-stash-grid [location]="currentOffer.itemLocation"></app-trade-stash-grid>
</div>

<div *ngIf="currentOffer" class="item-location">
  <p class="lbl-item-location">Tab "{{currentOffer.itemLocation.stashTabName}}"<br>Left: {{currentOffer.itemLocation.left}}, Top: {{currentOffer.itemLocation.top}}</p>
  <br>
  <button class="btn-highlight-item" mat-raised-button (click)="highlightItem()">{{showGrid ? 'Hide' : 'Show'}}</button>
</div>