.offers {
    pointer-events: none;
    font-size: 8;
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.item-location {
    position: absolute;
    bottom: 7%;
    left: 0;
    width: 300px;
}

.lbl-item-location{
    color: rgba(200, 200, 200, 0.87);
    background-color: #232323;
    display:flex;
    justify-content: center;
    border-radius: 3px;
    border: 2px gray solid;
    text-align: center;
}

.btn-highlight-item{
    margin: 0;
    left: 50%;
    transform: translateX(-100%);
}

.grid{
    position: absolute;
    color: white;
}

.btn-adjust-grid{
    position: absolute;
    top: 50px;
    left: 50px;
    border: 2px yellow solid;
    color: yellow;
}

.lbl-adjust-message{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-100%);
    background-color: #232323;
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 4px;
}