.row {
    margin: 0;
    padding: 0;
}

.col{
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 100%;
}

.box-highlight{
    border-color: yellow;
    border-style: solid;
}

$border-width: 5px;

.box-col-left {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: $border-width !important;
    border-right-width: 0;
}

.box-col-right {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: $border-width !important;
}

.box-row-top {
    border-top-width: $border-width !important;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.box-row-bottom {
    border-top-width: 0;
    border-bottom-width: $border-width !important;
    border-left-width: 0;
    border-right-width: 0;
}

.dark-box{
    background-color: rgba(0,0,0,0.5);
}

.darker-box{
    background-color: rgba(0,0,0,0.8);
}

/* Resizing */
.resizer{
    position: absolute;
    background-color: #232323;
    color:gray;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid gray;
}

.arrow:hover{
    background-color: darkgray;
    border-radius: 8px;
}

 .resizer-bottom {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-100%);
  }

 .resizer-right {
    right: -10px;
    top: 50%;
    transform: translateY(-100%);
  }

 .resizer-left {
    left: -10px;
    top: 50%;
    transform: translateY(-100%);
  }

 .resizer-top {
    left: 50%;
    top: -10px;
    transform: translateX(-100%);
  }

  .inline{
      display: inline-block;
  }

  .box-small-left{
      border-left-width: 1px;
  }

  .box-small-right{
    border-right-width: 1px;
}

.box-small-top{
    border-top-width: 1px;
}

.box-small-bottom{
    border-bottom-width: 1px;
}