<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [value]="value || 'material.accelerator.unbound' | translate"
    [disabled]="!recording"
    (keydown)="onKeydown($event)"
    #input
  />
  <button
    matSuffix
    mat-button
    (click)="onKeyboardClick(input)"
    [title]="'material.accelerator.set-shortcut' | translate"
    *ngIf="!recording; else cancel"
  >
    <mat-icon> keyboard </mat-icon>
  </button>
  <ng-template #cancel>
    <button matSuffix mat-button (click)="cancelSetShortcut()" [title]="'cancel-set' | translate">
      <mat-icon> clear </mat-icon>
    </button>
  </ng-template>
</mat-form-field>
