#trade-offers-container {
    /* Make the contaier ignore mouse events */
    pointer-events: none;
    z-index: 5;
    position: fixed;
    bottom: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
  }